<ion-menu [content]="navPage">
	<ion-header>
		<ion-toolbar>
			<ion-title>
				Menu
			</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-list>
			<button menuClose ion-item *ngIf="isAuthenticated" (click)="onLoadPage(discountHomePage)">
				<ion-icon name="home" item-left></ion-icon> Home
			</button>
			<button menuClose *ngIf="isAuthenticated" (click)="onLoadPage(locationPage)" ion-item>
				<ion-icon item-left name="locate"></ion-icon> Location
			</button>
			<button menuClose *ngIf="isAuthenticated" (click)="logoutUser()" ion-item>
				<ion-icon item-left name="log-out"></ion-icon>
				Logout
			</button>
			<button menuClose *ngIf="!isAuthenticated" (click) = "onLoadPage(signupPage)" ion-item>
				<ion-icon name="filing" item-left></ion-icon> Sign-up
			</button>
			<button menuClose *ngIf="isAuthenticated" ion-item>
				<ion-icon name="settings" item-left></ion-icon> Settings
			</button>
		</ion-list>
	</ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #navPage></ion-nav>
