page-discount-home {
	ion-card-title {font-weight:bold;}
	img {max-height:150px !important;}
	.negMargin {margin-top: -10px !important;}

	.shopName {font-size:20px;font-weight:bold;}
	.filterApplied {margin-right:4px;width:9px;height:9px;border-radius: 50%;background-color:red;}

	.slideHeight { height: 14%;margin-top:-10px}
}
