<!--
  Generated template for the DiscountHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<ion-buttons left>
  		<button menuToggle ion-button>
  			<ion-icon name="menu"></ion-icon>
  		</button>
  	</ion-buttons>
    <ion-title><ion-icon name="locate"></ion-icon> {{currentLocation}}</ion-title>
    <ion-buttons right>
    	<button ion-button clear icon-right (click)="openFilterModel()"><span [hidden]="!isFilterApplied" class="filterApplied"></span>  <ion-icon  name="funnel"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h2 text-center >Enjoy Discounts Near You..</h2>
	<div class="slideHeight">
		<ion-slides pager>
			<ion-slide>
				<ion-row>
					<ion-col col-3>
						<button (click)="onSelectCategory('all')" ion-button clear block >All</button>
					</ion-col>
					<ion-col col-3>
						<button (click)="onSelectCategory('food')" ion-button clear block >Food</button>
					</ion-col>
					<ion-col col-3>
						<button (click)="onSelectCategory('sports')" ion-button clear block >Sports</button>
					</ion-col>
					<ion-col col-3>
						<button (click)="onSelectCategory('kids')" ion-button clear block >Kids</button>
					</ion-col>
				</ion-row>
			</ion-slide>
			<ion-slide>
				<ion-row>
					<ion-col>
						<button (click)="onSelectCategory('lifestyle')" ion-button clear block >Lifestyle</button>
					</ion-col>
					<ion-col>
						<button (click)="onSelectCategory('fashion')" ion-button clear block >Fashion</button>
					</ion-col>
					<ion-col>
						<button (click)="onSelectCategory('groceries')" ion-button clear block >Groceries</button>
					</ion-col>
				</ion-row>
			</ion-slide>
			<ion-slide>
				<ion-row>
					<ion-col>
						<button (click)="onSelectCategory('movies')" ion-button clear block >Movies</button>
					</ion-col>
				</ion-row>
			</ion-slide>
		</ion-slides>
	</div>

	<button ion-item *ngFor=" let discount of discuounts; let counter = index; ">
		<ion-card >
			<img [src]="discount.imgUrl">
			<ion-item>
				<ion-icon name="pricetag" item-start large></ion-icon>
				<h2 class="shopName" >{{discount.shopName}}</h2>
				<p>{{discount.shopLocation}}</p>
				<ion-badge color="labelColor">{{discount.discountDescription}}</ion-badge>
			</ion-item>
		</ion-card>
	</button>
</ion-content>
