<ion-header>

  <ion-navbar>
  <ion-buttons left>
    		<button menuToggle ion-button >
    			<ion-icon name="menu"></ion-icon>
    		</button>
    	</ion-buttons>
    <ion-title>
    	<h2 >Sign In!!!</h2>
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
	
	<ion-row>
		<ion-col>
		</ion-col>
		<ion-col col-auto>
			<form #signInForm="ngForm">
				<ion-list>
					<ion-item>
						<ion-label floating>
							<ion-icon icon-left name="person"></ion-icon>
							Username
						</ion-label>
						<ion-input ngModel name="username" type="text" required ></ion-input>
					</ion-item>
					<ion-item>
						<ion-label floating>
							<ion-icon icon-left name="lock" ></ion-icon>
							Password
						</ion-label>
						<ion-input type="password" name="password" ngModel required></ion-input>
					</ion-item>
				</ion-list>
				<button ion-button block color="secondary" (click)="onSignIn()" [disabled]="signInForm.pristine || signInForm.invalid">Submit</button>
				<button ion-button block clear color="danger">
					Forgot Password?
				</button>
				<button ion-button block clear color="dark" (click)="newUser()" ><span>New User?</span>Sign up</button>
			</form>
		</ion-col>
		<ion-col>
		</ion-col>
	</ion-row>
</ion-content>
