<!--
  Generated template for the LocationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar >
  	<ion-buttons left>
  		<button ion-button  menuToggle>
  			<ion-icon name="menu"></ion-icon>
  		</button>
  	</ion-buttons>
    <ion-title >My Location</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid *ngIf="location">
	<h1>Location: {{location.lat}}-- {{location.long}}</h1>
	<ion-row >
		<ion-col>
			<sebm-google-map
				[latitude]="location.lat"
				[longitude]="location.long"
				[zoom]="15" 
			(mapClick)="onSetMarker($event)">
				<sebm-google-map-marker *ngIf="location" [latitude]="location.lat" [longitude]="location.long">
					
				</sebm-google-map-marker>
			</sebm-google-map>
		</ion-col>
	</ion-row>
	<ion-row>
		
	</ion-row>
</ion-grid>
</ion-content>
