<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
    	<h2 class="signUpHeader">Signup</h2>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-row>
		<ion-col>
			<div>
				<h4 text-center>Step 1</h4>
				<p text-center>User Registration</p>
			</div>
			<form #signUpForm = "ngForm">
				<ion-list>
					<ion-item>
						<ion-label floating>Username</ion-label>
						<ion-input type="text" #userName required name="userName" ngModel></ion-input>
					</ion-item>
					<ion-item>
						<ion-label floating>Email</ion-label>
						<ion-input required type="email" #email ngModel name="email"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label floating>Password</ion-label>
						<ion-input type="password" name="password" #password ngModel required></ion-input>
					</ion-item>
					<ion-item>
						<ion-label floating>Confirm-Password</ion-label>
						<ion-input type="password" name="conformpassword" #conformpassword ngModel required></ion-input>
					</ion-item>
				</ion-list>
		
				<div class="unmatchPasswordDiv" text-center *ngIf="signUpForm.dirty && (signUpForm.value.password !== signUpForm.value.conformpassword)">Passwords do not match</div>

				<button (click)="onClickSignUp()" [disabled]="signUpForm.invalid || (signUpForm.value.password !== signUpForm.value.conformpassword)" ion-button block color="secondary" type="submit">Submit</button>
			</form>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<div>
				<h4 text-center>Step 2</h4>
				<p text-center>User Confirmation Process</p>
				<form #confirmForm = "ngForm">
					<ion-list>
						<ion-item>
							<ion-label floating>Username</ion-label>
							<ion-input required ngModel name="confirmUserName" type="text"></ion-input>
						</ion-item>
						<ion-item>
							<ion-label floating>Validation Code</ion-label>
							<ion-input type="text" required name="code" ngModel></ion-input>
						</ion-item>
					</ion-list>
					<button (click)="onConfirm(confirmForm.value)" ion-button color="primary" block [disabled]="!confirmForm.dirty && confirmForm.invalid">Confirm your Account</button>
				</form>
			</div>
		</ion-col>
	</ion-row>
</ion-content>
