<!--
  Generated template for the FilterdiscountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Filter</ion-title>
    <ion-buttons left>
    	<button icon-only ion-button (click)="closeFilterModal()">
    		<ion-icon name="close"></ion-icon>
    	</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-item *ngFor=" let filter of filterCategories; let counter=index; ">
		<ion-label text-capitalize>{{filter.categoryName}} -- {{filter.isSelected}}</ion-label>
		<ion-checkbox item-right color="secondary" [(ngModel)]="filter.isSelected" checked="false" ></ion-checkbox>
	</ion-item>

	<ion-row>
		<ion-col>
			<button ion-button (click)="applyFilter()" full color="secondary">
				Apply Filter
			</button>
		</ion-col>
	</ion-row>
	
</ion-content>
